*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    font-family:'montserrat',sans-serif;
}





body{
    overflow-x: hidden;
}

/* ----------- HOMEPAGE STYLING--------------- */




.header{
    width:100%;
    min-height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/img-1.jpg');
    background-size:cover;
    animation:slider 20s ease-in-out infinite;
    position:relative;
   
}



@keyframes slider{
    0%{
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/school-bg.jpg');
       
    }

    20%{
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/pic-2.jpg');
    }

    50%{
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/it-img.jpg');
    }

    75%{
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/pic-4.jpg');
    }

    100%{
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/pic-1.jpg');
    }
}

.navbar a img{
    width:245px;
}

.navbar .fa{
    display:none;
}


.navbar{
    width:100%;
    height:78px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    position:fixed;
    top:0;
    z-index:1;
}


nav ul{
    list-style:none;
}


nav ul li{
    display:inline-block;
    margin:10px 25px;
}

nav ul li a {
    text-decoration:none;
    color:#023856;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}

nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    border-radius:6px;
    display:block;
    margin:5px auto;
    background:#d0a141;
    transition:all .3s;
}


nav ul li a:hover:after{
    width:100%;
}



.banner-content{
    width:70%;
    padding:16% 8%;
    text-shadow:0px 0px 4px #000;
   
}


.banner-content h1{
    font-size:70px;
    color:#fff;
    font-weight:bold;
}


.banner-content p{
    width:500px;
    line-height:22px;
    color:#fff;
}

.banner-content a{
    padding:12px 20px;
    background:#0b0ba3;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    margin-top:20px;
    font-weight:bold;
    border-radius:50px;
}

/* ------ END OF HOMEPAGE STYLING -------- */




/* -------ABOUT PAGE STYLING----- */
.about-img{
   width:100%;
   min-height:370px;
   background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/about-img.jpg');
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   overflow:hidden;
   position:relative;
   z-index:-1;
}


.about-img h1{
    position:absolute;
    text-align:center;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    text-shadow:0px 0px 10px rgba(0,0,0,0.8);
}



.school-history{
    padding:2% 8%;
}

.school-history h1{
    padding:20px 0;
    font-size:40px;
    text-align:center;
}

.school-history h1::after{
     content:'';
     width:80px;
     height:3px;
     background:#006994;
     display:block;
     margin:5px auto;
}

.school-history span{
    color:#006994;
}


.school-history p{
    font-size:14px;
    line-height:1.7;
    color:#3b3b3b;
}


.obj-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:50px;
    margin-bottom:60px;
    margin-top:30px;
}

.obj-info h2{
    margin-bottom:20px;
    font-size:25px;
}

.achieve{
    text-align:center;
    margin-bottom:30px;
}


.para {
    text-align:justify;
}


.achieve::after{
    content:'';
    width:80px;
    height:4px;
    border-radius:5px;
    background:#006994;
    display:block;
    margin:5px auto;
}



.achieve-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:50px;
    margin-bottom:60px;
    margin-top:30px;
}


.principal-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    gap:30px;
    margin-top:40px;
    
}

.principal-info img{
    width:80%;
    border:6px solid #006994
   
}

.principal-name{
    width:440px;
    color:#006994;
    font-weight:bold;
    background:#fff;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    padding:20px;
    text-align:center;
}





.heads-depart{
    padding:100px 0;
}

.department-container{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:5rem;
}

.department-info{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align:center;
    padding:2% 8%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}




.department-info img{
    width:20%;
    height:30vh;
    margin:auto;
    object-fit:center;
    border-radius:10px;
 
    
}

.department-info div p{
    width:100%;
    margin:auto;
    text-align:justify;
    font-size:13px;
    margin-top:10px;
}

div h2{
    font-size:18px; 
}

.admin-members{
    padding:100px 0;;
}

.admin-mem-info{
    text-align:center;
}

.admin-mem-info h3{
    text-align:center;
    margin-top:30px;
    color:#006994
}

.admin-mem-info p{
    font-weight:600;
}

.admin-mem-info img{
   width:100%;
   height:35vh;
   object-fit:center;
   transition:.3s;
   border-radius:10px;
   border-radius:15px solid #006994;
   
}


.admin-mem-info img:hover{
    transform:scale(1.1);
}

.admin-mem-container{
    margin-top:70px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    place-items:center;
    

}

.card{
    width:190px;
    height:220px;
    object-fit:center;
    background:#cfcece;
    text-align:center;
    border-radius:10px;
    }


    .card:hover{
        transform:scale(1.1);
    }


    .card i{
        font-size:100px;
        margin:50px auto;
        color:#006994;
        border:5px solid #fff;
        border-radius:50%;
    }


/* -------END OF ABOUT PAGE STYLING----- */





/* ------ OUR VISION AND MISSION STYLING ------- */

.vision{
    padding:100px 0;
}

.vision-title{
    width:50%;
    margin:auto;
    text-align:center;
    margin-bottom:30px;
}


.vision-title h1{
    font-weight:900;
    font-size:40px;
    color: #004c7e;
}

.vision-title p{
    margin:10px auto;
    line-height:25px;
}

.vision-title span{
    color:#000;
}


.vision-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    padding:4% 8%;
    gap:30px;
    text-align:center;
    
}


.vision-info{
    background:#fff;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    padding:25px 18px;
}

.vision-info img{
    width:98%;
    height:30vh;
    object-fit: cover;
}



.vision-info h2{
    padding:10px 0;
    font-size:20px;
    font-weight:900;
    margin-top:25px;
}


.vision-info p{
    line-height:25px;
    font-size:16px;
    color:#292929;
   
}


/* ------ END OF OUR VISION AND MISSION STYLING ------- */




/* ------ COURSE STYLING------- */
.courses{
    padding:100px 0;
}

.courses h1{
    text-align:center;
    font-size:30px;
    margin-bottom:50px;
}

.course-img{
    height:70vh;
    width:100%;
    object-fit:contain;
    margin-top:72px;
    background-image:url('images/Course-banner.jpg');
    background-position:right center;
    background-size:cover;
    text-align:center;
    color:#fff;
    position: relative;
    z-index:-1;
  }


  .course-img h1{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    text-shadow:0px 0px 10px rgba(0,0,0,0.8);
  }


  .courses h1::after{
    content:'';
    width:80px;
    height:4px;
    border-radius:5px;
    background:#006994;
    display:block;
    margin:5px auto;
  }




  .course-info{
    color:#fff;
  }


  .course-container{
      display:grid;
      grid-template-columns:repeat(3, 1fr);
      gap:20px;
      padding:2% 8%;
    
    }


    .course-flex{
        width:350px;
        text-align:center;
      
    }

    .course-flex h2{
        font-size:16px;
        padding:10px;
    }

    .course-flex p{
        font-size:14px;
        margin:5px auto;
        line-height:1.7;
    }



  .course-flex img{
   width:90%;
   height:25vh;
   object-fit:cover;

  }


  /* ------END OF COURSE STYLING */



/* ------- GALLERY STYLING --------------- */

.gallery{
    padding:100px 0;
    z-index:-1;
}

.gallery h1{
    text-align:center;
    font-family:'montserrat',sans-serif;
}



.gallery h1::after{
    content:'';
    width:120px;
    height:4px;
    border-radius:5px;
    display:block;
    background:#004c7e;
    margin:8px auto;
}





.gallery h1 span{
    color:#004c7e;
}

.gallery-img{
    height:75vh;
    width:100%;
    object-fit:contain;
    margin-top:70px;
    background-image:url('images/gallery-banner.jpg');
    background-position:right center;
    background-size:cover;
    text-align:center;
    color:#fff;
    position: relative;
    z-index:-1;
  }


.gallery-row{
    padding:2% 8%;
   
}


.gallery-item{
    margin: 2rem 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    cursor: pointer;
}


.gallery-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.gallery-item img{
    width:100%;
    height:45vh;
    object-fit:cover;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}


.gallery-item:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}



.zoom-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    z-index: 2;
    opacity: 0;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}



.gallery-item:hover .zoom-icon{
    opacity: 1;
}

/* ------- END OF GALLERY STYLING --------------- */






/* ------- CONTACT STYLING ---------------- */
.contact-img{
    padding:100px 0;
    height:70vh;
    width:100%;
    object-fit:contain;
    margin-top:70px;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(15, 93, 196, 0.7)),url('images/cont-pic.png');
    /* background-image:url('images/admissions.jpg'); */
    background-position:right center;
    background-size:cover;
    text-align:center;
    color:#fff;
    position: relative;
    z-index:-1;
}


.contact-img  h1{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:36px;
}



.contact{
    padding:2% 8%;
}


.contact h1{
    padding:50px 0;
    font-size:36px;
    text-align:center;
}

.contact .icons-container {
    margin-bottom: 3rem;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
  
  .contact .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
    border: 0.1rem solid #006994;
    background: #f0fdfa;
  }
  
  .contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    color: #fff;
    background: #006994;
  }
  
  .contact .icons-container .icons h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
  }
  
  .contact .icons-container .icons p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  



  .contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .contact .row .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .contact .row .image img {
    width: 100%;
  }
  
  .contact .row form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    border: 0.1rem solid #006994;
    padding: 2rem;
  }
  
  .contact .row form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    padding-bottom: 1rem;
  }


  .contact-btn{
    padding:15px 30px;
    background:#006994;
    color:#fff;
    outline:none;
    border:none;
    border-radius:25px;
    text-transform:uppercase;
  }
  
  .contact .row form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #006994;
    font-size: 1.6rem;
    margin: .7rem 0;
  }
  
  /* .contact .row form .box:focus {
    background: #b6f0ff;
    color: #fff;
  }
   */
  .contact .row form .box:focus::-webkit-input-placeholder {
    color: #eee;
  }
  
  .contact .row form .box:focus:-ms-input-placeholder {
    color: #eee;
  }
  
  .contact .row form .box:focus::-ms-input-placeholder {
    color: #eee;
  }
  
  .contact .row form .box:focus::placeholder {
    color: #eee;
  }
  
  .contact .row form textarea {
    height: 15rem;
    resize: none;
  }
  





/* ------------END OF CONTACT STYLING */
































/* -----FOOTER STYLING ------ */
.footer{
    padding:100px 0;
    /* background:#006994; */ background-image:linear-gradient(rgba(0,0,0,0.2),rgba(96, 151, 253, 0.6)),url('images/PATTERN.jpg');

}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
    padding:2% 8%;
}

.footer-info h2{
    color:#004c7e;
    font-size:20px;
    font-weight:800;
}

.line{
    margin-top:40px;
}


.footer-info h3{
    font-size:17px;
    color:#fff;
    margin-top:20px;
}


.footer-info p{
    margin-top:10px;
    line-height:10px;
    color:#fff
}


.footer .copyright{
    text-align:center;
    margin-top:50px;
    color:#023856;
    font-weight: 800;
}


.footer-info a img{
    width:120px;
}

.footer-info .call{
    margin-top:15px;
    font-weight:700;
    font-size:20px;
}

.footer-info ul{
    list-style:none;
  
}

.footer-info li{
    margin:10px 0;
}

.footer-info a{
    text-decoration:none;
    color:#fff;
}

.social-media i{
    width:40px;
    height:40px;
    border-radius: 50%;
    background:#fff;
    color:#007bff;
    padding:10px;
    text-align:center;
    margin:0 10px;
    font-size:22px;
    transition:background .3s;
}

.social-media i:hover{
    background:#006994;
    color:#fff;
}


/* --------RESPONSIVENESS ---------------- */



@media(max-width:990px){



    
  
    .navbar{
       width:100%;
       position:relative;
    }
    
    
    nav ul{
        display:block;
    }
    


     .navbar  .fa-bars{
            position:absolute;
            right:5%;
            top:15%;
            color:#fff;
            font-size:30px;
        
        }
    
     
     
     .navbar .fa{
        display:block;
        color:#000;
        font-size:35px;
        cursor:pointer;
        padding:10px 10px;
        
    }


    .navbar .fa-close{
        color:#fff;
        font-size:25px;
    }
    
    
    
      .nav-links{
            background:#004c7e;
            height:100vh;
            width:200px;
            top:0;
            right:-200px;
            position:fixed;
            text-align:left;
            z-index:1;
            transition:0.5s;
            color:#fff;
            overflow:hidden;
      }
    

    
      nav ul li{
        padding-top:10px;
        display:block;
        margin-top:20px;
       
       
    }
    

  nav ul li a{
    color:#fff;
  }

   
  nav ul li a:after{
    color:#fff;
 
  }


  nav ul li a:hover::after{
    width:0;
    color:#007bff;
  }


 
    
    .navbar a img{
        width:140px;
        position:absolute;
        top:5px;
        left:10px;
    }

    .banner-content{
        width:100%;
        text-align:center;
        position:absolute;
        top:15%;
    }


    .banner-content h1{
        font-size:20px;
    }

    .banner-content p{
        width:250px;
        font-size:14px;
        margin:20px auto;
    }



    .school-history h1{
        font-size:20px;
    }

    .school-history  p{
        text-align:center;
    }


    .obj-info h2{
        text-align:center;
    }


    .principal-name{
       width:80%;
       text-align:center;
    }

  


    .principal-info h2{
        width:80%;
        font-size:12px;
        text-align:center;
    }

    .principal-info p{
        width:80%;
    }



    .admin-mem-info{
        margin:30px 0;
    }

    .department-container{
        grid-template-columns:repeat(1, 1fr);
       
    }
    

    .department-info{
       width:100%;
       box-shadow:0px 0px 0px;
       display:flex;
       flex-direction:column;
       margin:auto;
    }

    .department-info img{
       width:70%;
       height:50vh;
       margin:auto;
    }



    .department-info h2{
        margin:auto;
        text-align:center;
     }
 

     
     .department-info div p{
        width:100%;
        margin-top:20%;
     }



 






    .vision-title{
        width:100%;
    }



    .vision-title h1{
        font-size:20px;
    }



    .about-img{
        width:100%;
        height:49vh;
    
    }


.about-img h1{
    width:70%;
    font-size:18px;
    text-shadow:0px 0px 10px #000;
}

    .gallery{
        width:100%;
    }


    .gallery-img{
        width:100%;
        height:20vh;
        position:absolute;
        top:0%;
        object-fit:cover;
    }

    .gallery h1{
           font-size:18px;
           margin-top:25%;
    }

    .contact-img{
        width:100%;
    }









    .course-img{
        width:100%;
        height:21vh;
        position:absolute;
        top:0%;
        object-fit:cover;
    }

     .courses h1{
          margin-top:25%;
     }



    .course-container{
        grid-template-columns:1fr;
    }

    .footer-info {
        text-align:center;

    }

    .copyright{
        width:300px;
        margin:auto;
    }
}